# Compiled class file
*.class

# Python scripts
*.py

# Benchmarks
/src/jmh/src_files

# Antlr
src/main/kotlin/org/antlr/Java8.interp
src/main/kotlin/org/antlr/Java8.tokens
src/main/kotlin/org/antlr/Java8BaseListener.java
src/main/kotlin/org/antlr/Java8Lexer.java
src/main/kotlin/org/antlr/Java8Lexer.interp
src/main/kotlin/org/antlr/Java8Lexer.tokens
src/main/kotlin/org/antlr/Java8Listener.java
src/main/kotlin/org/antlr/Java8Parser.java

# Lexer
/src/main/kotlin/org/srcgll/lexer/*.java
/src/main/kotlin/org/srcgll/lexer/*.java~

# No idea wtf is this
*.attach*

# Graphs
*.dot
*.pdf

# Profiling
/visualvm_217

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
